body {
   background-color: #c38d9e;
}

.input {
   margin-top: 3rem;
}

 label {
    display: block;
    cursor: pointer;
    line-height: 2;
    font-size: 1em;
 }

 input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
 }

 input[type="checkbox"]+span {
    font: 16pt sans-serif;
    color: white;
 }

 input[type="checkbox"]+span:hover {
   font-style: italic;
   text-decoration: underline;
 }

 input[type="checkbox"]+span:before {
    font: 16pt FontAwesome;
    content: '\00f096';
    display: inline-block;
    width: 16pt;
    padding: 2px 0 0 3px;
    margin-right: 0.5em;
 }

 input[type="checkbox"]:checked+span:before {
    content: '\00f046';
 }

 input[type="checkbox"]:focus+span:before {
    outline: 1px dotted #aaa;
 }

 input[type="checkbox"]:disabled+span {
    color: #999;
 }

 input[type="checkbox"]:not(:disabled)+span:hover:before {
    text-shadow: 0 1px 2px #77F;
 }

.box {
   width: 30%;
   height: 30vh;
   background-color: #41b4a4;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-size: 3rem;
   margin: 3rem auto;
   box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.box:hover {
   cursor: pointer;
   text-decoration:underline; 
   font-style: italic;
}

.text {
   margin: 3rem auto;
   width: 60%;
   color: white;
   font-size: 1.8rem;
   text-align:justify;
   text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
