body {
   background-color: #c38d9e;
   
}

 label {
    display: block;
    cursor: pointer;
    line-height: 2;
    font-size: 1em;
 }

 input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
 }

 input[type="checkbox"]+span {
    font: 16pt sans-serif;
    color: white;
 }

 input[type="checkbox"]+span:before {
    font: 16pt FontAwesome;
    content: '\00f096';
    display: inline-block;
    width: 16pt;
    padding: 2px 0 0 3px;
    margin-right: 0.5em;
 }

 .box {
   width: 30%;
   height: 30vh;
   background-color: #41b4a4;
 }

 input[type="checkbox"]:checked+span:before {
    content: '\00f046';
 }

 input[type="checkbox"]:focus+span:before {
    outline: 1px dotted #aaa;
 }

 input[type="checkbox"]:disabled+span {
    color: #999;
 }

 input[type="checkbox"]:not(:disabled)+span:hover:before {
    text-shadow: 0 1px 2px #77F;
 }

